.food {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.item {
  margin-top: 15px;
  overflow: hidden;
  position: relative;
  width: calc(34.28% - 30px);
}

.item a {
  border-radius: 18px;
  display: block;
  overflow: hidden;
  width: 100%;
}

.item a img {
  height: 100%;
  width: 100%;
}

.item .content {
  color: #fa0d74;
  font-size: 20px;
  height: 30px;
  position: absolute;
  text-align: center;
  top: 1400px;
  transition: all 0.3s;
  width: 100%;
}

.item:hover .content {
  transform: translateY(-1400px);
}

@media screen and (max-width: 768px) {
  .food {
    flex-direction: row;
  }

  .item .content{
    display: none;
  }
}
