html {
  height: 100%;
  width: 100%;
}

.header {
  justify-content: space-between;
}

.header .pic {
  margin-top: 20px;
}

.header .pic img {
  height: 50px;
  margin: 10px 17px;
  width: 50px;
}

.content a {
  display: block;
  font-size: 37px;
  font-weight: 700;
  padding: 50px 0;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .content a {
    font-size: 40px;
    padding: 51px 0;
  }
}

section[class^="section"] {
  height: 100%;
  width: 100%;
}

.section1 {
  background: url(../images/big-1.webp) no-repeat fixed center center/cover;
}

.section2 {
  background: url(../images/big-2.webp) no-repeat fixed center center/cover;
}

.section3 {
  background: url(../images/big-3.webp) no-repeat fixed center center/cover;
}

.section4 {
  background: url(../images/big-4.webp) no-repeat fixed center center/cover;
}
