@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?qxntov");
  src: url("fonts/icomoon.eot?qxntov#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?qxntov") format("truetype"),
    url("fonts/icomoon.woff?qxntov") format("woff"),
    url("fonts/icomoon.svg?qxntov#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
}

li,
ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

input,
button,
textarea {
  outline: none;
}

html {
  height: 100vh;
}

body {
  background-color: rgb(56, 56, 97);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
  justify-content: space-between;
  margin: 0;
}

.header{
  align-items: flex-end;
  display: flex;
  flex: 1;
  height: 110px;
  justify-content: space-around;
}

.header .logo {
  height: 90px;
  width: 200px;
}

.header .logo h1 {
  height: 100%;
  width: 100%;
}

.header .logo a {
  background: url(../images/logo.png) no-repeat;
  display: block;
  height: 100%;
  margin: -20px 18px;
  overflow: hidden;
  text-indent: -999px;
}

.header .nav {
  display: flex;
  gap: 60px;
  white-space: nowrap;
}

.nav li a:hover {
  color: rgb(158, 189, 18);
  text-decoration: underline;
}

.nav li a {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.active {
  background-color: rgb(96, 129, 250);
}

.right {
  height: 53px;
  position: relative;
  width: 200px;
}

.right span {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-left: -22px;
}

.address {
  bottom: 13px;
  position: absolute;
  right: 42px;
}

.address::before {
  content: "\e947";
  font-family: "icomoon";
  font-size: 20px;
}

.box {
  display: none;
}

.footer ul li {
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}

.facebook::before {
  content: "\e915";
  font-family: "icomoon";
  padding-left: 30px;
}

.ins::before {
  content: "\ea92";
  font-family: "icomoon";
  padding-left: 40px;
}

.tik::before {
  content: "\e918";
  font-family: "icomoon";
  padding-left: 30px;
}

.arrow::after {
  content: "\e916";
  float: right;
  font-family: "icomoon";
  margin-right: 20px;
}

.footer p {
  color: #fff;
  font-size: 16px;
  padding-left: 27px;
  text-align: center;
}

@media (max-width: 1100px) {
  .header .nav {
    display: none;
  }

  .right span {
    display: block;
    font-size: 17px;
    font-weight: 700;
    margin-left: -22px;
  }

  .address {
    bottom: 19px;
    position: absolute;
    right: 78px;
  }

  .address::before {
    font-size: 17px;
  }

  .box {
    display: block;
  }

  .box::after {
    content: "\e9bd";
    color: #fff;
    font-family: "icomoon";
    font-size: 32px;
    padding-left: 130px;
    margin-top: 10px;
  }

  .menu-nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: -228px;
    top: 47px;
  }

  .menu-nav li {
    display: none;
    font-size: 15px;
    margin-right: 15px;
    white-space: nowrap;
  }

  .box:focus .menu-nav li,
  .menu-nav:hover li,
  .menu-nav:focus-within li {
    display: block;
  }

  .menu-nav li a {
    color: rgb(238, 235, 235);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700;
    font-size: 14px;
  }
}
