@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?qxntov");
  src: url("fonts/icomoon.eot?qxntov#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?qxntov") format("truetype"),
    url("fonts/icomoon.woff?qxntov") format("woff"),
    url("fonts/icomoon.svg?qxntov#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  box-sizing: border-box;
}

li,
ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

input,
button,
textarea {
  outline: none;
}

html {
  height: 100vh;
}

body {
  background-color: rgb(56, 56, 97);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 100%;
  justify-content: space-between;
  margin: 0;
}

.header,
.meal-header {
  align-items: center;
  display: flex;
  flex: 1;
  height: 110px;
  justify-content: space-around;
}

.meal-header {
  justify-content: space-between;
}

.header .logo,
.meal-header .logo {
  height: 90px;
  width: 200px;
}

.header .logo h1,
.meal-header .logo h1 {
  height: 100%;
  width: 100%;
}

.header .logo a,
.meal-header .logo a {
  background: url(../images/logo.png) no-repeat;
  display: block;
  height: 100%;
  margin: -20px 18px;
  overflow: hidden;
  text-indent: -999px;
}

.header .nav, .meal-header .nav{
  display: flex;
  gap: 60px;
}

.nav li a:hover {
  color: rgb(158, 189, 18);
  text-decoration: underline;
}

.nav li a {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.active{
  background-color: rgb(221, 62, 97);
}

.right {
  height: 53px;
  position: relative;
  width: 200px;
}

.right span {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-left: -22px;
}

.adress {
  bottom: 14px;
  position: absolute;
  right: 77px;
}

.menu {
  bottom: 13px;
  position: absolute;
  right: 7px;
}

.adress::before {
  content: "\e947";
  font-family: "icomoon";
}

.menu::after {
  content: "\e9bd";
  font-family: "icomoon";
  font-size: 32px;
}

.footer ul li {
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}

.facebook::before {
  content: "\e915";
  font-family: "icomoon";
  padding-left: 30px;
}

.ins::before {
  content: "\ea92";
  font-family: "icomoon";
  padding-left: 40px;
}

.tik::before {
  content: "\e918";
  font-family: "icomoon";
  padding-left: 30px;
}

.arrow::after {
  content: "\e916";
  float: right;
  font-family: "icomoon";
  margin-right: 20px;
}

.footer p {
  color: #fff;
  font-size: 16px;
  padding-left: 27px;
  text-align: center;
}

@media (max-width:1100px) {
  .header .nav, .meal-header .nav {
    display: none;
  }
}
